DICIONÁRIOS EM PYTHON
São estruturas que armazenam sempre um par de dados chamados por chave e valor. Para criarmos um
Dicionário usamos as chaves { }

In [1]:
pessoas = {'Laura':18, 'Eduardo':32, 'Ana':40, 'Mariana':25}

In [2]:
type(pessoas)

dict

In [3]:
pessoas

{'Laura': 18, 'Eduardo': 32, 'Ana': 40, 'Mariana': 25}

In [4]:
pessoas['Eduardo']

32

In [5]:
pessoas.keys() #retorna as chaves do dicionário

dict_keys(['Laura', 'Eduardo', 'Ana', 'Mariana'])

In [6]:
pessoas.values() # retorna os valores das chaves

dict_values([18, 32, 40, 25])

In [7]:
pessoas.items() #retorna todas as chaves e valores

dict_items([('Laura', 18), ('Eduardo', 32), ('Ana', 40), ('Mariana', 25)])

In [8]:
pessoas['Leonardo'] = 30 #insere um novo par (chave/valor)
print(pessoas)

{'Laura': 18, 'Eduardo': 32, 'Ana': 40, 'Mariana': 25, 'Leonardo': 30}

In [9]:
pessoas['Ana'] = 64 #altera o valor da chave ana

In [10]:
pessoas

{'Laura': 18, 'Eduardo': 32, 'Ana': 64, 'Mariana': 25, 'Leonardo': 30}

In [11]:
del pessoas['Mariana'] #apaga a chave indicada

In [12]:
pessoas

{'Laura': 18, 'Eduardo': 32, 'Ana': 64, 'Leonardo': 30}

In [13]:
#imprimindo os dados do dicionário
for k,v in pessoas.items():
  print(f'{k} tem {v} anos')

Laura tem 18 anos
Eduardo tem 32 anos
Ana tem 64 anos
Leonardo tem 30 anos

In [14]:
#CARREGANDO UM DICIONÁRIO PELO TECLADO

dados = dict() #cria um dicionário vazio

dados = {} #cria um dicionário vazio

dados['nome'] = input('Nome: ')
dados['idade'] = input('Idade: ')
dados['salário'] = float(input('Salário: '))

for x,y in dados.items():
  print(f'{x}: {y}')

Nome: gil
Idade: 19
Salário: 0
nome: gil
idade: 19
salário: 0.0

In [15]:
cadastro = {'nome':'Fernanda','profissao':'Advogada','sexo':'F','idade':'32'}

In [16]:
for k,v in cadastro.items():
  print(f'{k} = {v}')

nome = Fernanda
profissao = Advogada
sexo = F
idade = 32

CARREGANDO DICIONÁRIOS EM UMA LISTA

In [17]:
estados1 = {'uf':'Sao Paulo','sigla':'SP'}
estados2 = {'uf':'Rio de Janeiro','sigla':'RJ'}

brasil = [] #cria uma lista vazia

brasil.append(estados1) #insere o dicionário "estados1" na lista brasil
brasil.append(estados2) #insere o dicionário "estados2" na lista brasil

print(estados1)
print(estados2)
print(brasil)

{'uf': 'Sao Paulo', 'sigla': 'SP'}
{'uf': 'Rio de Janeiro', 'sigla': 'RJ'}
[{'uf': 'Sao Paulo', 'sigla': 'SP'}, {'uf': 'Rio de Janeiro', 'sigla': 'RJ'}]

PROBLEMAS COM O APPEND() NO DICIONÁRIO

In [19]:
estado = dict() #cria um dicionário vazio
brasil = list() #cria uma lista vazia

for c in range(3):
  estado['uf'] = input('UF: ')
  estado['sigla'] = input('Sigla: ')
  brasil.append(estado)

print(brasil)

UF: Sao paulo
Sigla: SP
UF: Rio de Janeiro
Sigla: RJ
UF: Espirito Santo
Sigla: ES
[{'uf': 'Espirito Santo', 'sigla': 'ES'}, {'uf': 'Espirito Santo', 'sigla': 'ES'}, {'uf': 'Espirito Santo', 'sigla': 'ES'}]

RESOLVENDO O PROBLEMA DO APPEND( )

In [20]:
estado = dict() #cria um dicionário vazio
brasil = list() #cria uma lista vazia
for c in range(3):
  estado['uf'] = input('UF: ')
  estado['sigla'] = input('Sigla: ')
  brasil.append(estado.copy()) #faz uma cópia do dicionário a cada inserção

UF: Sao paulo
Sigla: SP
UF: Rio de Janeiro
Sigla: RJ
UF: Espirito Santo
Sigla: ES

In [21]:
print(brasil)

[{'uf': 'Sao paulo', 'sigla': 'SP'}, {'uf': 'Rio de Janeiro', 'sigla': 'RJ'}, {'uf': 'Espirito Santo', 'sigla': 'ES'}]

ITERANDO A LISTA E O DICIONÁRIO

In [22]:
for est in brasil: #esse for é da lista
  for k,v in est.items(): #esse fir é do dicionário
    print(f'{k} = {v}')

uf = Sao paulo
sigla = SP
uf = Rio de Janeiro
sigla = RJ
uf = Espirito Santo
sigla = ES

USANDO O GET() NO DICIONÁRIO

In [23]:
pessoas = {'Larissa':19, 'Manuela':21, 'Cristiane':39}

In [25]:
pessoas.get('Manuela') #retorna o valor, se existir

21

In [26]:
if pessoas.get('Manuela'):
  print('Contato existe!')
else:
  pessoas['Manuela'] = 45

Contato existe!

In [27]:
if pessoas.get('Mané'):
  print('Contato existente!')
else:
  pessoas['Manuela'] = 45

In [28]:
pessoas

{'Larissa': 19, 'Manuela': 45, 'Cristiane': 39}