In [1]:
tupla = (1,2,3,4,5) #cria uma tupla na memória

In [2]:
tupla

(1, 2, 3, 4, 5)

In [3]:
type(tupla)

tuple

In [4]:
tupla[2]

3

In [5]:
tupla.append(6) # a tupla não suporta o comando append

AttributeError: ignored

In [6]:
del tupla #apaga a tupla inteira

In [7]:
nomes = ('Giovana', 'Paulo', 'Beatriz', 'Gustavo', 'Ana')

In [8]:
print(sorted(nomes)) #mostra a tupla em ordem alfabética

['Ana', 'Beatriz', 'Giovana', 'Gustavo', 'Paulo']

In [9]:
nomes

('Giovana', 'Paulo', 'Beatriz', 'Gustavo', 'Ana')

In [11]:
print(nomes.index('Beatriz')) # retorna o indíce

2

In [13]:
numero = (3) #cria uma variável do tipo inteiro

In [14]:
type(numero)

int

In [15]:
numero = (3,) #cria uma tupla

In [16]:
type(numero)

tuple

In [17]:
num = ()

for i in range(5):
  x = int(input('Digite um número: '))
  num = num + (x,)

print(num)

Digite um número: 1
Digite um número: 34
Digite um número: 53
Digite um número: 62
Digite um número: 23
(1, 34, 53, 62, 23)